.postform {
    border: 0.1em solid #373F46;
    background-color: #BABDC1;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
}

.fdiv {
    background-color: #979DA2;
    padding: 1em 1em 1em 1em;
    margin: 2em 2em 1em 2em;
    border: solid 0.1em #373F46;
}

.bdiv {
    background-color: #BABDC1;
    padding: 1em 1em 0em 1em;
    margin: 1em 1em 1em 1em;
    overflow: auto;
}

.directions {
    float: right;
    color: #FFFFFF;
}

.validation {
    text-align: center;
    font: 16pt "Helvetica", "Verdana", "Arial", sans-serif;
    color: #373F46;
    background-color: #FC3F6E;
    width: 30%;
    border: 1px solid;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em 1em 1em 1em;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.label {
    color: #2A3137;
    font: 16pt "Helvetica", "Verdana", "Arial", sans-serif;
    

}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #373F46;
    font-size: 14pt;
    font-family: "Helvetica", "Verdana", "Arial", sans-serif;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    resize: none;
    font-size: 14pt;
    font-family: "Helvetica", "Verdana", "Arial", sans-serif;
}

.button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #373F46;
    float: right;
    width: 8em;
    height: 2em;
    color: #2A3137;
    background-color: #979DA2;
    font-size: 16pt;
    font-family: "Helvetica", "Verdana", "Arial", sans-serif;
}

