/* this is the CSS file */
* {
    margin: 0em;
    padding: 0em;
}

body {
    font: 14pt "Helvetica", "Verdana", "Arial", sans-serif;
    color: #373F46;
    margin-top: 2em;
    margin-bottom: 2em;
}

.menu {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}

.menu ul {
	list-style-type: none;
	position: absolute;
	right: 0%;
	top: 0%;
	margin-top: 0.5em;
}

.menu li {
    display: inline;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.entry {
    border: 1px solid #373F46;
    position: relative;
    margin-bottom: 1.5em;
    padding: 0em 0em 0em 0em;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.links > div:last-of-type {
    margin-bottom: 0em;
}

.author {
    padding: 0em 1em 0em 1em;
    font-size: 75%;
    position: absolute;
    right:0;
    bottom: 0%;
}

.tags {
    font-size: 12pt;
}

ul.buttons {
    list-style-type: none;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0%;
    right: 0;
    padding: .50em 1em 0em 1em;
}

.buttons li {
    display: inline;
}

.tags a:link {
    padding: 0em .15em 0em .50em;
}

a:link {
    color: #373F46;
    text-decoration: none;
}

a:visited {
    color: #636364;
    text-decoration: none;
}

a:hover {
    color: #A1DAF9;
    text-decoration: underline;
}

a:active {
    color: #57BDF4;
    text-decoration: underline;
}

.entry h1 {
    border-bottom: 0.05em solid #000000;
    padding: 0.25em;
    background-color: #979DA2;
    font-size: 150%;
    padding-right: 6em;
}

.entry h1 a {
    text-decoration: none;
}
    
.entry h1 a:link {
    color: #373F46;
}

.entry h1 a:visited {
    color: #636364;
}

.entry h1 a:hover {
    color: #A1DAF9;
}

.entry h1 a:active {
    color: #57BDF4;
}

.desc {
    padding: 1em 0.5em 1em 0.5em;
}

body > h1 {
    font: 24pt "Helvetica", "Verdana", "Arial", sans-serif;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0em;
    margin-bottom: 0em;
}

.page-count {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

ul.page-nav {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    list-style-type: none;
    font-size: 16pt;
    padding: 0px;
    text-align: justify;
}

.page-nav li {
    display: inline;
}

li.next {
    float: right;
}